version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: myapp_postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 5s
      timeout: 5s
      retries: 10

  api:
    build:
      context: ./
      dockerfile: QuizGame.API/Dockerfile
    container_name: myapp_api
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "5003:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development

      # DB
      ConnectionStrings__DefaultConnection: "Host=postgres;Port=5432;Database=${POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}"

      # JWT
      JWT_KEY: ${JWT_KEY}
      JWT_ISSUER: ${JWT_ISSUER}
      JWT_AUDIENCE: ${JWT_AUDIENCE}
      JWT_EXPIRE_MINUTES: ${JWT_EXPIRE_MINUTES}
      
      ADM_EMAIL: ${ADM_EMAIL}
      ADM_PASSWORD: ${ADM_PASSWORD}

volumes:
  postgres_data:
